bcrypt==3.2.0
black==21.11b1
cachetools==4.2.4
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
click==8.0.3
cryptography==35.0.0
google-api-core==2.2.2
google-auth==2.3.3
googleapis-common-protos==1.53.0
grpc-tools==0.0.1
grpcio==1.42.0
grpcio-health-checking==1.42.0
grpcio-reflection==1.42.0
grpcio-testing==1.42.0
grpcio-tools==1.42.0
homi==0.2.2
idna==3.3
mypy-extensions==0.4.3
mysqlclient==2.1.0
pathspec==0.9.0
platformdirs==2.4.0
protobuf==3.19.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pycurl==7.44.1
PyJWT==2.3.0
PyMySQL==1.0.2
regex==2021.11.10
rsa==4.7.2
six==1.16.0
SQLAlchemy==1.4.27
tomli==1.2.2
typing_extensions==4.0.0
urllib3==1.26.7
uvloop==0.16.0
